body {
  background-color: #eaf6f6;
  margin: 0;
  text-align: center;
}

.name {
  margin: 0px;
  font-family: 'Rock Salt', cursive;
  font-size: 4rem;
  color: #66bfbf
}

p {
  line-height: 2;
}

.tag {
  margin-top: 0px;
  font-size: 2.4rem;
  font-family: 'Montez', cursive;
  color: #66bfbf
}

.intro {
  width: 30%;
  margin: auto;
}

h2 {
  color: #66bfbf
}

h3 {
  color: #11999E;
}

.profileImg {
  height: 12.5rem;
}

.skillImg1 {
  width: 25%;
  float: left;
  border-radius: 100%;
  padding-right: 1.875rem;
}

.skillImg2 {
  width: 25%;
  float: right;
  padding-left: 1.875rem;
}

.top-container {
  background-color: #e4f9f5;
  padding: 6.25rem;
  position: relative;
}

.middle-container {
  padding-bottom: 5rem;
}

.bottom-container {
  padding: 1.563rem;
  background-color: #66bfbf;
}

hr {
  border: dotted #dddddd 0.375rem;
  border-bottom: none;
  width: 4%;
  margin: 6.25rem auto;
}

.skill-row {
  width: 50%;
  margin: auto;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
  text-align: left;
}

.contactMsg {
  margin: 2.5rem auto 3.75rem;
  width: 40%;
}

.topCloud {
  position: absolute;
  right: 18.75rem;
  top: 2.5rem;
}

.bottomCloud {
  position: absolute;
  left: 15.625rem;
  bottom: 25rem;
}

a {
  color: #11999E;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1rem;
  margin: 0.625rem 1.25rem;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6
}

.copyright {
  padding-bottom: 0.8rem;
  margin-bottom: auto;
  color: #eaf6f6
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  border-radius: 1.25rem;
  color: #FFFFFF;
  font-family: Verdana;
  font-size: 1rem;
  font-weight: 200;
  padding: 1rem;
  box-shadow: 0.063rem 0.063rem 0.563rem 0px #31403D;
  -webkit-box-shadow: 0.063rem 0.063rem 0.563rem 0px #31403D;
  -moz-box-shadow: 0.063rem 0.063rem 0.563rem 0px #31403D;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #33EDED 0px;
  background: #1FB8BD;
  background-image: -webkit-linear-gradient(top, #1FB8BD, #30C6CB);
  background-image: -moz-linear-gradient(top, #1FB8BD, #30C6CB);
  background-image: -ms-linear-gradient(top, #1FB8BD, #30C6CB);
  background-image: -o-linear-gradient(top, #1FB8BD, #30C6CB);
  background-image: linear-gradient(to bottom, #1FB8BD, #30C6CB);
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  border-radius: 1.25rem;
  text-decoration: none;
}
