@import 'https://fonts.googleapis.com/css?family=Rubik+Mono+One';
body {
    background-color: black;
    font-family: 'Rubik Mono One', sans-serif;
}

img {
    margin: 2%;
    height: 10%;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 24px;
}

#home {
    height: 51rem;
    background-image: linear-gradient(rgba(143, 129, 129, 0.692), rgba(8, 1, 1, 0.753)), url("../images/pic2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#skillsets {
    padding: 10%;
    background-color: #444;
    height: 600px;
}